*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  --hue-neutral: 250;
  --hue-general: 0;
  --hue-smoking: 0;
  --hue-gender: 40;
  --hue-age: 80;
  --hue-foreign-religion: 120;
  --hue-university: 160;
  --hue-household1: 200;
  --hue-household2: 220;
}

body {
  --hue: var (var(--hue-neutral));
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue-neutral), 50%, 50%);

}

body.general{
  background-color: hsl(var(--hue-general), 100%, 20%);
}

body.smoking {
  background-color: hsl(var(--hue-smoking), 100%, 20%);
}

body.age {
  background-color: hsl(var(--hue-age), 100%, 20%);
}

body.foreign-religion {
  background-color: hsl(var(--hue-foreign-religion), 100%, 20%);
}

body.university {
  background-color: hsl(var(--hue-university), 100%, 20%);
}

body.householdone {
  background-color: hsl(var(--hue-household1), 100%, 20%);
}

body.householdtwo {
  background-color: hsl(var(--hue-household2), 100%, 20%);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;

}

.btn.line {
  display: grid;
  grid-template-rows: repeat(1, auto);
  gap: 5px;
  margin: 20px, 0;
}
.btn {
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  color: black;
}

.btn:hover {
  border-color: black;

}

.btn.answered {
  background-color: hsl((0), 0%, 10%);
  color: white;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}